.container {
    max-width: 1100px;
    margin: 0 auto;
}


.productos {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.producto {
    background-color: #c606ec;
    border: 2px solid black;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}

.producto p {
    font-size: 2rem;
    font-weight: bold;
    border-top: 2px solid black;
    padding-top: 1rem;
}

img {
    width: 190px;
}

.carrito {
    background-color: #6f0599;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #963da8;
    font-weight: bold;
}

.carrito-vacio {
    color: white;
}

.carrito-total {
    text-align: center;
    color: white;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-block: .5rem;
}