.container-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.producto {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgb(243, 100, 100);
}

.producto p {
    font-weight: bold;
    font-size: 1.5rem;
}

.producto img {
    width: 200px;
}